.card {
  background-color: #fff;
  /* Sfondo bianco */
  border: 1px solid #ddd;
  /* Bordo sottile */
  border-radius: 8px;
  /* Angoli arrotondati */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* Leggera ombreggiatura */
  padding: 1.5rem;
  /* Spaziatura interna */
  margin-bottom: 1.5rem;
  /* Spaziatura tra le card */
}

.card h2 {
  text-align: center;
  margin: 0 0;
  padding: 0 0;
}

button {
  /* margin-top: 0.5rem; */
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}