.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 0.75rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  /* Spaziatura interna */
  padding: 0.5rem 1rem;
  /* Spaziatura tra le card */
  margin-bottom: 1.5rem;
}

.card h2 {
  text-align: center;
  margin: 0 0;
  padding-bottom: 0.5rem;
}

button {
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  background-color:  #dc3545;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.1s ease;
}

button:hover {
  background-color: #0056b3;
}

button:last-child {
  background-color: #dc3545;
}

button:last-child:hover {
  background-color: #a71d2a;
}

#spacer-bot {
  margin-bottom: 12rem;
}

#spacer-top {
  margin-top: 1rem;
}