.header-container {
  display: flex;
  /* x */
  justify-content: center;
  /* y */
  align-items: center;
  width: 100%;
  gap: 3rem;
}

a:link {
  color: #003366;
}

a:visited {
  color: #6a1b9a;
}

a:hover {
  color: #c62828;
}

a:active {
  color: #d32f2f;
}

.header-left,
.header-right {
  flex: 1;
  /* Ogni colonna occupa uno spazio equo */
  display: flex;
  flex-direction: column;
  /* Contenuto disposto in verticale */
  align-items: center;
  /* Allinea il contenuto al centro per la colonna sinistra */
}

.header-right {
  align-items: flex-start;
  /* Allinea il contenuto a sinistra */
}

.header-left h1,
.header-right h2 {
  margin: 0;
  font-size: 1.5rem;
  color: #333;
}

.header-left img {
  max-width: 100%;
  max-height: 8rem;
  padding: 1.5rem 0;
  border-radius: 50%;
}

.contact-icon {
  width: 0.8rem;
  height: 0.8rem;
  margin-right: 0.5rem;
  vertical-align: middle;
}

.header-contacts {
  line-height: 0.8rem;
}

.header-contacts p {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
  font-size: 1rem;
}

.contact-link {
  color: #007bff;
  text-decoration: none;
}

.contact-link:hover {
  text-decoration: underline;
}

.header-summary {
  margin: 1rem 1rem;
  padding: 0 1rem;
  font-size: 0.9rem;
  text-align: auto;
  line-height: 1.1rem;
}

.header-summary p {
  margin: 0.25rem 0;
}