/* .legal-notes {
  padding: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #333;
  text-align: center;
}

.legal-text {
  margin: 1rem 0;
}

.legal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.legal-date {
  font-size: 0.9rem;
  color: #666;
}

.legal-signature {
  width: 8rem;
  height: auto;
  object-fit: contain;
}




 */





.legal-notes {
  padding: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
}

.legal-text {
  margin: 1rem 0;
}

.legal-footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* Spazio tra data e firma */
  gap: 1rem;
  margin-top: 1rem;
}

.legal-date {
  font-size: 0.9rem;
}

.legal-signature {
  width: 8rem;
  /* Dimensione della firma */
  height: auto;
  object-fit: contain;
}